{% extends 'ecom/base.html' %}

{% block title %}About Page{% endblock %}
{% block body %}

<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4"><b>About Us</b></span>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Rcube Kart</h1>
                <p class="col-md-8 fs-4">Rcube kart is an Indian e-commerce company, headquartered in Nashik,
                    India, and incorporated in India as a private limited company. The company
                    initially focused on online book sales before expanding into other product categories such as
                    consumer electronics, fashion, home essentials, groceries, and lifestyle products.

                    The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal. As
                    of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.Flipkart has a
                    dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described
                    as being "neck and neck" with Amazon in the sale of electronics and mobile phones. Flipkart also
                    owns PhonePe, a mobile payments service based on the Unified Payments Interface.

                    In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for
                    US$16 billion, valuing Flipkart at around $20 billion.</p>
            </div>
        </div>

        <b><footer class="pt-3 mt-4 text-muted border-top">
            &copy; 2021
        </footer></b>
    </div>
</main>
{% endblock %}